mat-toolbar {
  display: flex;
  justify-content: space-around;
}
.divklasa {
  display: block;
  background-size: cover;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 40px;
}
.navbar {
  background-color: #3f51b5;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-button {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
